@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    padding: 0px;
    margin:0px;
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu','roboto',sans-serif;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    opacity: 0.5;
    gap:20px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color:#ffffff;

}
li a:hover{
    color:rgb(47, 185, 219)
}
/* This is part or the header section  */
/* classes:{
    .navbar,
    .main-content
} */
.header{
    background: #23e088b0;
    display: flex;
    flex-direction: column;
    color:#F9FAF8;
    padding: 0px 10px;
}

/* This is part of the .navbar section */
/* include{
    .title,
    ul>li*3 [*3]refer that it have 3 list in the ul
} */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:25px;
}
.header.title{
    padding: 24px;
    background-color: #F9FAF8;
}

/* This is part of the main page given to the end viewer */
/* main-content{
    .intro,
    .media
} */

.main-content{
    flex:1;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}
.intro{
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    background: rgba(43, 207, 131, 0);
    margin-right: 50px;
}
.intro h1{
    font-size: 48px;
    margin: 5px;
}
.intro p{
    font-size: 20px;
    margin: 5px;
}
.intro button{
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid rgb(47, 185, 219);
    color: rgb(255, 255, 255);
    width: 150px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.349);    background: rgb(47, 185, 219);
    align-self: center;
    margin: 32px;
    font-weight: 900 ;
}
.intro button:hover{
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.349);    background:royalblue;
    border: 0.5px solid rgb(47, 172, 255);
    color: rgb(255, 255, 255);

}


/* This is the seconde page given to the end user */
.container{
    flex:1;
    display: flex;
}
.footer{
    display:flex;

}
